body {
    background: url(/img/spongemeboy.jpg) no-repeat center;
    background-size: 400%;
}

.container {
    padding-top: 5%;
}

.title {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 75px;
}

.mainContainer {
    margin: auto;
    width: 75%;
    background-color: rgba(211, 211, 211, 0.678);
    padding: 75px 0px 75px 0px;
    border-radius: 15px;
}

.inputText {
    width: 70%;
    margin: 0 auto;
    font-size: 20pt;
    border-radius: 4px;
    border: 1.5px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    margin-bottom: 5px;
}

.outputText {
    width: 70%;
    justify-self: center;
    border-radius: 4px;
    border: 1.5px solid black;
    resize: none;
    overflow: auto;
    font-size: 15pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inputContainer {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 2px;
}

.buttonInlineContainer {
    display: grid;
    grid-template-columns: .5fr .5fr;
    column-gap: 10px;
    align-self: center;
}

.btnSubmit {
    background-color: #89ff57;
    width: 50%;
    border-radius: 4px;
    text-align: center;
    justify-self: right;
    border: 1px solid black;
    padding: 3px 0px 6px 0px;
    font-size: 15pt;
    margin-bottom: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.btnClear {
    background-color: #89ff57;
    width: 50%;
    border-radius: 4px;
    text-align: center;
    justify-self: left;
    border: 1px solid black;
    padding: 3px 0px 6px 0px;
    font-size: 15pt;
    margin-bottom: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.btnSubmit:hover {
    background-color: #4CFF00;
    transition: background-color .75s;
}

.btnSubmit:not(:hover) {
    background-color: #89ff57;
    transition: background-color .75s;
}

.btnClear:hover {
    background-color: #4CFF00;
    transition: background-color .75s;
}

.btnClear:not(:hover) {
    background-color: #89ff57;
    transition: background-color .75s;
}

@media screen and (max-width: 1060px) {
    .mainContainer{
        width: 90%;
    }
    .inputText {
        width: 95%;
    }
    .outputText {
        width: 95%;
    }
}

@media screen and (max-width: 885px) {
    .title {
        width: 100%;
        margin-bottom: 25px;
    }
    .container {
        padding-top: 20%;
    }
}

@media screen and (max-width: 750px) {
    .btnSubmit {
        width: 85%;
    }
    .btnClear {
        width: 85%;
    }
}

@media screen and (max-width: 650px) {
    .mainContainer {
        width: 100%;
    }
    .mainContainer {
        padding: 40px 0px 40px 0px;
    }
    .container {
        padding-top: 35%;
    }
}

@media screen and (max-width: 595px) {
    .inputText {
        width: 100%;
        font-size: 12pt;
        font-weight: bold;
    }
    .outputText {
        width: 100%;
        font-size: 12pt;
        font-weight: bold;
    }
}

@media screen and (max-width: 525px) {
    .container {
        padding-top: 45%;
    }
}

@media screen and (max-width: 450px) {
    .btnSubmit {
        width: 100%;
    }
    .btnClear {
        width: 100%;
    }
    .titleImage{
        width: 80%;
    }
    .mainContainer {
        padding: 25px 0px 25px 0px;
    }
    .inputText {
        font-weight: normal;
        height: 30px;
    }
    .outputText {
        font-weight: normal;
    }
    body {
        background-size: 750%;
    }
    .container {
        padding-top: 50%;
    }
    .buttonInlineContainer {
        padding-left: 5px;
        padding-right: 5px;
    }
}